
# Used for Visual Studio IntelliSense
Scripts/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Don't exlcude fake node_modules in test/fixtures
/node_modules
npm-debug.log

.DS_Store
~$*
Thumbs.db
Desktop.ini